html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(168, 216, 224);
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(58, 45, 45);
  transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
  color: beige;
  text-shadow: 2px 2px  gray;
}